.activityfeed {
    height: 500px;
    overflow: auto;
  .archiveallcalls {
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    border: brown 2px solid;
  }
}
