.footer{
    height:65px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: darkred 2px solid;
    .callicon{
        font-size: 15px;
        color: white;
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        background-color: red;
        padding: 2px;
    }
    >div{
        font-size: 25px;
        cursor: pointer;
        user-select: none;
    }
    .centericon{
        position: relative;
        height: 50px;
        width: 50px;
        background-color: chartreuse;
        border-radius: 50%;
        z-index: 999;
        top: -33px;
        line-height: 58px;
        text-align: center;
        border: darkred 2px solid;
        animation: sizechange 0.6s linear infinite;
    }
}

@keyframes sizechange {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}

